.links-list {
    margin-top: 1rem;

    &__links {
        &__container {
            height: 30vh;
            // min-height: 30vh;
            // max-height: 30vh;
        }
    }
}

.toolbar {
    padding-left: 0;

    &__title {
        flex: 1 1 100%;
    }
}