.button {
    color: white !important;
    background-color: #7552d4 !important;
    border: 1px solid #7552d4 !important;
    text-transform: capitalize !important;

    &:hover {
        color: #7552d4 !important;
        background-color: white !important;
        // text-transform: capitalize !important;
        transition: 0.4s !important;
    }
}
